<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p><a href="https://twitter.com/ideaMarcos">ideaMarcos</a> basic setup for Elixir/Phoenix project</p>
</section>
